# Содержание <a class="anchor" id="begining"></a>

<h1><span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Содержание-" data-toc-modified-id="Содержание--1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Содержание <a class="anchor" id="begining" rel="nofollow"></a></a></span></li><li><span><a href="#Описание-базы-данных" data-toc-modified-id="Описание-базы-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Описание базы данных</a></span></li><li><span><a href="#Задание-1." data-toc-modified-id="Задание-1.-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Задание 1.</a></span></li><li><span><a href="#Задание-2." data-toc-modified-id="Задание-2.-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Задание 2.</a></span></li><li><span><a href="#Задание-3." data-toc-modified-id="Задание-3.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Задание 3.</a></span></li><li><span><a href="#Задание-4." data-toc-modified-id="Задание-4.-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Задание 4.</a></span></li><li><span><a href="#Задание-5." data-toc-modified-id="Задание-5.-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Задание 5.</a></span></li><li><span><a href="#Задание-6." data-toc-modified-id="Задание-6.-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Задание 6.</a></span></li><li><span><a href="#Задание-7." data-toc-modified-id="Задание-7.-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Задание 7.</a></span></li><li><span><a href="#Задание-8." data-toc-modified-id="Задание-8.-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Задание 8.</a></span></li><li><span><a href="#Задание-9." data-toc-modified-id="Задание-9.-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Задание 9.</a></span></li><li><span><a href="#Задание-10." data-toc-modified-id="Задание-10.-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Задание 10.</a></span></li><li><span><a href="#Задание-11." data-toc-modified-id="Задание-11.-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Задание 11.</a></span></li><li><span><a href="#Задание-12." data-toc-modified-id="Задание-12.-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Задание 12.</a></span></li><li><span><a href="#Задание-13." data-toc-modified-id="Задание-13.-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Задание 13.</a></span></li><li><span><a href="#Задание-14." data-toc-modified-id="Задание-14.-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Задание 14.</a></span></li><li><span><a href="#Задание-15." data-toc-modified-id="Задание-15.-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>Задание 15.</a></span></li><li><span><a href="#Задание-16." data-toc-modified-id="Задание-16.-18"><span class="toc-item-num">18&nbsp;&nbsp;</span>Задание 16.</a></span></li></ul></div>

# Описание базы данных

База данных основана на датасете Startup Investments, взятом с Kaggle

**Схема**

![](Image.png)

# Задание 1. 

**Отобразите количество привлечённых средств для новостных компаний США. Используйте данные из таблицы `company`. Отсортируйте таблицу по убыванию значений в поле `funding_total`.**

[К содержанию](#begining)

In [1]:
# запрос
query = """
SELECT funding_total
FROM company
WHERE category_code = 'news'
  AND country_code = 'USA'
ORDER BY funding_total DESC

"""

**Результат**

<div>
<img src="1.png" width="150"/>
</div>

# Задание 2. 

**Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.**

[К содержанию](#begining)

In [2]:
# запрос
query = """
SELECT SUM(price_amount)
FROM acquisition
WHERE term_code = 'cash'
  AND EXTRACT(YEAR
              FROM acquired_at) BETWEEN '2011' AND '2013'
"""

**Результат**

<div>
<img src="2.png" width="150"/>
</div>

# Задание 3. 

**Отобразите имя, фамилию и названия аккаунтов людей в твиттере, у которых названия аккаунтов начинаются на 'Silver'.**

[К содержанию](#begining)

In [3]:
# запрос
query = """
SELECT first_name,
       last_name,
       twitter_username
FROM people
WHERE twitter_username LIKE 'Silver%'
"""

**Результат**

<div>
<img src="3.png" width="350"/>
</div>

# Задание 4.

**Составьте таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату.
Оставьте в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению.**

[К содержанию](#begining)

In [4]:
# запрос
query = """
SELECT funded_at,
MAX(raised_amount) AS min_amount,
MIN(raised_amount) AS max_amount
FROM funding_round
GROUP BY funded_at
HAVING MIN(raised_amount) <> 0 AND MIN(raised_amount) <> MAX(raised_amount)
"""

**Результат**

<div>
<img src="4.png" width="350"/>
</div>

# Задание 5. 


**Создайте поле с категориями:**
* Для фондов, которые инвестируют в 100 и более компаний, назначьте категорию high_activity.
* Для фондов, которые инвестируют в 20 и более компаний до 100, назначьте категорию middle_activity.
* Если количество инвестируемых компаний фонда не достигает 20, назначьте категорию low_activity.

Отобразите все поля таблицы fund и новое поле с категориями.

[К содержанию](#begining)

In [5]:
# запрос
query = """
SELECT *,
       CASE
           WHEN invested_companies >= 100 THEN 'high_activity'
           WHEN 100 > invested_companies
                AND invested_companies >= 20 THEN 'middle_activity'
           ELSE 'low_activity'
       END
FROM fund
"""

**Результат**

<div>
<img src="5.png" high="450"/>
</div>

# Задание 6. 

**Для каждой из категорий, назначенных в предыдущем задании, посчитайте округлённое до ближайшего целого числа среднее количество инвестиционных раундов, в которых фонд принимал участие. Выведите на экран категории и среднее число инвестиционных раундов. Отсортируйте таблицу по возрастанию среднего.**

[К содержанию](#begining)

In [6]:
# запрос
query = """
SELECT CASE
           WHEN invested_companies>=100 THEN 'high_activity'
           WHEN invested_companies>=20 THEN 'middle_activity'
           ELSE 'low_activity'
       END AS activity,
       ROUND(AVG(investment_rounds))
FROM fund
GROUP BY activity
ORDER BY ROUND(AVG(investment_rounds));
"""

**Результат**

<div>
<img src="6.png" width="350"/>
</div>

# Задание 7. 

**Проанализируйте, в каких странах находятся фонды, которые чаще всего инвестируют в стартапы.
Для каждой страны посчитайте минимальное, максимальное и среднее число компаний, в которые инвестировали фонды этой страны, основанные с 2010 по 2012 год включительно. Исключите страны с фондами, у которых минимальное число компаний, получивших инвестиции, равно нулю. Выгрузите десять самых активных стран-инвесторов.
Отсортируйте таблицу по среднему количеству компаний от большего к меньшему, а затем по коду страны в лексикографическом порядке.**

[К содержанию](#begining)

In [7]:
# запрос
query = """
SELECT country_code,
       MIN(invested_companies) AS min_invested_companies,
       MAX(invested_companies) AS max_invested_companies,
       AVG(invested_companies) AS av_invested_companies
FROM fund
WHERE EXTRACT(YEAR
              FROM founded_at) BETWEEN '2010' AND '2012'
GROUP BY country_code
HAVING MIN(invested_companies) <> 0
ORDER BY av_invested_companies DESC
LIMIT 10;
"""

**Результат**

<div>
<img src="7.png" width="350"/>
</div>

# Задание 8.

**Для каждой компании найдите количество учебных заведений, которые окончили её сотрудники. Выведите название компании и число уникальных названий учебных заведений. Составьте топ-5 компаний по количеству университетов.**

[К содержанию](#begining)

In [8]:
# запрос
query = """
SELECT c.name,
       COUNT(DISTINCT e.instituition) AS unique_univers
FROM company AS c
JOIN people AS p ON c.id = p.company_id
JOIN education AS e ON p.id = e.person_id
GROUP BY c.name
ORDER BY unique_univers DESC
LIMIT 5;
"""

**Результат**

<div>
<img src="8.png" width="450"/>
</div>

# Задание 9. 

**Составьте список с уникальными названиями закрытых компаний, для которых первый раунд финансирования оказался последним.**

[К содержанию](#begining)

In [9]:
# запрос
query = """
SELECT DISTINCT c.name
FROM company AS c
RIGHT JOIN funding_round AS fr ON c.id = fr.company_id
WHERE c.status = 'closed'
  AND (fr.is_first_round) = 1
  AND (fr.is_last_round) = 1
GROUP BY c.name
"""

**Результат**

<div>
<img src="9.png" width="450"/>
</div>

# Задание 10.

**Составьте таблицу, куда войдут уникальные пары с номерами сотрудников из предыдущей задачи и учебным заведением, которое окончил сотрудник.**

[К содержанию](#begining)

In [10]:
# запрос
query = """
WITH p AS
  (SELECT p.id
   FROM people AS p
   LEFT JOIN company AS com ON p.company_id = com.id
   WHERE com.name IN
       (SELECT DISTINCT c.name
        FROM company AS c
        RIGHT JOIN funding_round AS fr ON c.id = fr.company_id
        WHERE c.status = 'closed'
          AND (fr.is_first_round) = 1
          AND (fr.is_last_round) = 1
        GROUP BY c.name))
SELECT p.id,
       e.instituition
FROM p
JOIN education AS e ON p.id = e.person_id
GROUP BY p.id,
         e.instituition
"""

**Результат**

<div>
<img src="10.png" width="450"/>
</div>

# Задание 11. 

**выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники Facebook*.
*(сервис, запрещённый на территории РФ)**

[К содержанию](#begining)

In [11]:
# запрос
query = """
WITH p AS
  (SELECT p.id
   FROM people AS p
   LEFT JOIN company AS com ON p.company_id = com.id
   WHERE com.name = 'Facebook')
SELECT AVG(total_univer.instituition)
FROM
  (SELECT p.id,
          COUNT(e.instituition) AS instituition
   FROM p
   JOIN education AS e ON p.id = e.person_id
   GROUP BY p.id) AS total_univer
"""

**Результат**

<div>
<img src="11.png" width="550"/>
</div>

# Задание 12.

**Составьте таблицу из полей**:
* name_of_fund — название фонда;
* name_of_company — название компании;
* amount — сумма инвестиций, которую привлекла компания в раунде.

В таблицу войдут данные о компаниях, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно.

[К содержанию](#begining)

In [12]:
# запрос
query = """
SELECT f.name AS name_of_fund,
       c.name AS name_of_company,
       fr.raised_amount AS amount
FROM investment AS i
JOIN company AS c ON i.company_id = c.id
JOIN fund AS f ON i.fund_id = f.id
JOIN funding_round AS fr ON i.funding_round_id = fr.id
WHERE EXTRACT(YEAR
              FROM fr.funded_at) BETWEEN '2012' AND '2013'
  AND c.milestones > 6
"""

**Результат**

<div>
<img src="12.png" width="550"/>
</div>

# Задание 13.

**Выгрузите таблицу, в которой будут такие поля:**
* название компании-покупателя;
* сумма сделки;
* название компании, которую купили;
* сумма инвестиций, вложенных в купленную компанию;
* доля, которая отображает, во сколько раз сумма покупки превысила сумму вложенных в компанию инвестиций, округлённая до ближайшего целого числа.

Не учитывайте те сделки, в которых сумма покупки равна нулю. Если сумма инвестиций в компанию равна нулю, исключите такую компанию из таблицы.

Отсортируйте таблицу по сумме сделки от большей к меньшей, а затем по названию купленной компании в лексикографическом порядке. Ограничьте таблицу первыми десятью записями.

[К содержанию](#begining)

In [13]:
# запрос
query = """
WITH buyer AS
  (SELECT name,
          id
   FROM company
   WHERE id IN
       (SELECT acquiring_company_id
        FROM acquisition)),
     seller AS
  (SELECT name,
          id,
          funding_total
   FROM company
   WHERE id IN
       (SELECT acquired_company_id
        FROM acquisition) )
SELECT buyer.name AS buyer_name,
       a.price_amount,
       seller.name AS seller_name,
       seller.funding_total,
       ROUND(a.price_amount / seller.funding_total)
FROM acquisition AS A
LEFT JOIN buyer ON a.acquiring_company_id = buyer.id
LEFT JOIN seller ON a.acquired_company_id = seller.id
WHERE a.price_amount <> 0
  AND funding_total <> 0
ORDER BY a.price_amount DESC,
         seller.name
LIMIT 10;
"""

**Результат**

<div>
<img src="13.png" width="550"/>
</div>

# Задание 14.

**Выгрузите таблицу, в которую войдут названия компаний из категории social, получившие финансирование с 2010 по 2013 год включительно. Проверьте, что сумма инвестиций не равна нулю. Выведите также номер месяца, в котором проходил раунд финансирования.**

[К содержанию](#begining)

In [14]:
# запрос
query = """
SELECT c.name,
EXTRACT(MONTH FROM fr.funded_at)
FROM company AS c
LEFT JOIN funding_round AS fr ON fr.company_id = c.id
WHERE EXTRACT(YEAR FROM fr.funded_at) BETWEEN '2010' AND '2013'
AND c.category_code = 'social'
"""

**Результат**

<div>
<img src="14.png" width="550"/>
</div>

# Задание 15.

**Отберите данные по месяцам с 2010 по 2013 год, когда проходили инвестиционные раунды. Сгруппируйте данные по номеру месяца и получите таблицу, в которой будут поля:**

* номер месяца, в котором проходили раунды;
* количество уникальных названий фондов из США, которые инвестировали в этом месяце;
* количество компаний, купленных за этот месяц;
* общая сумма сделок по покупкам в этом месяце.

[К содержанию](#begining)

In [15]:
# запрос
query = """
WITH mon AS
  (SELECT EXTRACT (MONTH
                   FROM fr.funded_at) AS month_num,
                  COUNT(DISTINCT f.name) AS us_funds
   FROM investment AS i
   RIGHT JOIN
     (SELECT id,
             name
      FROM fund
      WHERE country_code = 'USA') AS f ON i.fund_id = f.id
   LEFT JOIN funding_round AS fr ON fr.id = i.funding_round_id
   WHERE EXTRACT(YEAR
                 FROM fr.funded_at) BETWEEN '2010' AND '2013'
   GROUP BY EXTRACT (MONTH
                     FROM fr.funded_at)),
     accom AS
  (SELECT EXTRACT (MONTH
                   FROM acquired_at) AS month_num,
                  COUNT(acquired_company_id) AS acquired_companies,
                  SUM(price_amount) AS total_price_amount
   FROM acquisition
   WHERE EXTRACT(YEAR
                 FROM acquired_at) BETWEEN '2010' AND '2013'
   GROUP BY EXTRACT (MONTH
                     FROM acquired_at))
SELECT mon.month_num,
       mon.us_funds,
       accom.acquired_companies,
       accom.total_price_amount
FROM mon --LEFT JOIN usf ON mon.month_num = usf.month_num
LEFT JOIN accom ON mon.month_num = accom.month_num
"""

**Результат**

<div>
<img src="15.png" width="550"/>
</div>

# Задание 16.

**Составьте сводную таблицу и выведите среднюю сумму инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011, 2012 и 2013 годах. Данные за каждый год должны быть в отдельном поле. Отсортируйте таблицу по среднему значению инвестиций за 2011 год от большего к меньшему.**

[К содержанию](#begining)

In [16]:
# запрос
query = """
WITH y_2011 AS
  (SELECT country_code AS country,
          AVG(funding_total) AS total_invest
   FROM company
   WHERE id IN
       (SELECT id
        FROM company
        WHERE EXTRACT(YEAR
                      FROM founded_at) = '2011')
   GROUP BY country_code),
     y_2012 AS
  (SELECT country_code AS country,
          AVG(funding_total) AS total_invest
   FROM company
   WHERE id IN
       (SELECT id
        FROM company
        WHERE EXTRACT(YEAR
                      FROM founded_at) = '2012')
   GROUP BY country_code),
     y_2013 AS
  (SELECT country_code AS country,
          AVG(funding_total) AS total_invest
   FROM company
   WHERE id IN
       (SELECT id
        FROM company
        WHERE EXTRACT(YEAR
                      FROM founded_at) = '2013')
   GROUP BY country_code)
SELECT y_2011.country,
       y_2011.total_invest AS total_2011,
       y_2012.total_invest AS total_2012,
       y_2013.total_invest AS total_2013
FROM y_2011
JOIN y_2012 ON y_2011.country = y_2012.country
JOIN y_2013 ON y_2012.country = y_2013.country
ORDER BY total_2011 DESC
"""

**Результат**

<div>
<img src="16.png" width="550"/>
</div>

[К содержанию](#begining)